body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    display: block;
    text-align: center;
}

.box {
    font: 10px sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.box line,
.box rect,
.box circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}

.box .whisker-vertical {
    stroke-dasharray: 3,3;
}

.box .outlier {
    fill: none;
    stroke: #ccc;
}

#main-chart {
    margin-left: auto;
    margin-right: auto;
}




path.line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

path.area {
    fill: #e7e7e7;
}

/*path.feature-area {*/
    /*fill: lightcoral;*/
/*}*/

.axis {
    shape-rendering: crispEdges;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis line, .x.axis path, .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}


path.symbol {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.feature-estimates {
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.feature-estimates table {
    width: 100%;
}

.feature-estimates table th, .feature-estimates table td {
    text-align: left;
}