@(message: String)

@main("Burn Up Chart") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/burnup.css")"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.js"></script>
    @*<script src="@routes.Assets.at( "javascripts/box-orig.js")"></script>*@
    <script src="@routes.Assets.at( "javascripts/rabudata.js")"></script>
    <script src="@routes.Assets.at( "javascripts/burnup-new.js")"></script>
}
