@(firstIterationEndDate: String, iterations: List[Double], plannedIterations: Int, features: List[Double], title: Option[String])
@import play.api.libs.json.Json

@main(title.getOrElse("Burn Up Chart")) {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/burnup.css")"/>
    @for(t<-title) {
        <h1>@title</h1>
    }
    <div id="main-chart">

    </div>
    <script>
    var data = @Html(Json.obj(
        "firstIterationEndDate" -> firstIterationEndDate,
        "iterations" -> iterations,
        "plannedIterations" -> plannedIterations,
        "features" -> features
    ).toString);
    require(["jquery","d3","moment","initerate","rabu-chart"],function($,d3,moment,initerate,chart) {
    var rabu = initerate.init(data.firstIterationEndDate, data.iterations, data.plannedIterations);
    console.log(rabu.iterationDates);
    chart.draw(rabu, 800, 400, "#main-chart", data.features);
    });
    </script>
}
