@main("Burn Up Chart") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/burnup.css")"/>

    <h1>Risk Adjusted Burn Up Charts</h1>
    <p>In the <a href="http://www.jamesshore.com/Blog/Rabu/">style</a> of <a title="Yeah it's an affliate link. Use it!" href="http://www.amazon.com/gp/product/B00F8QCK0E/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00F8QCK0E&linkCode=as2&tag=trailmagiccom-20">James Shore</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=trailmagiccom-20&l=as2&o=1&a=B00F8QCK0E" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />.</p>

    <form action="/chart" method="get">
        <ul>
            <li><label>Title: <input name="title" type="text"/></label></li>
            <li><label>First iteration end date: <input required name="firstIterationEndDate" type="date" placeholder="YYYY-MM-DD"/></label></li>
            <li><label>Total iterations planned: <input required name="plannedIterations" type="number" /></label></li>
            </ul>
        <ul id="velociraptor">
            <li>Completed iterations:<button id="add-velocity">Add iteration</button></li>
            <li id="first-velocity"><label>Velocity <input required name="iterations" type="number" step="0.01" /></label></li>
        </ul>

        <ul id="features">
            <li>Features (optional): <button id="add-feature">Add feature</button></li>
        </ul>

        <button type="submit">Chart!</button>

        <h3>For example:</h3>
        <div id="chart"></div>
        <address>by <a href="https://github.com/ostewart/">Oliver Stewart</a></address>
    </form>

    <script>
    require(["jquery","d3","moment","initerate","rabu-chart"],function($,d3,moment,initerate,chart) {
        var rabu = initerate.init("2014-01-29", [3.5,4,4,4.5], 9);
        chart.draw(rabu, 500, 300, "#chart", [20]);
        $(document ).ready(function() {
            $("#add-velocity").on("click", function(e) {
                var butt = $('<button>Remove</button>');
                var input = $('<li><label>Velocity <input name="iterations" type="number" step="0.01" /></label></li>');
                input.append(butt);
                var elt = $("#velociraptor").append(input);
                $(butt).on("click", function(e) {
                    $(this ).parent().remove();
                    e.preventDefault();
                });
                e.preventDefault();
            });


            $("#add-feature").on("click", function(e) {
                var butt = $('<button>Remove</button>');
                var input = $('<li><label>Feature points <input name="features" type="number" step="0.5" /></label></li>');
                input.append(butt);
                var elt = $("#features").append(input);
                $(butt).on("click", function(e) {
                    $(this ).parent().remove();
                    e.preventDefault();
                });
                e.preventDefault();
            });
        });
    });
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Burnup Footer -->
    <ins class="adsbygoogle"
    style="display:block;width:728px;height:90px;margin-left:auto;margin-right:auto;margin-top:20px;"
    data-ad-client="ca-pub-3553420280912760"
    data-ad-slot="6398035208"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
}
